{% extends  'base.html' %}
{% load crispy_forms_tags %}
{% block javascript %}
<script>
    var selected_sentence_id = -1;
    $("#home").click(function(e) {
        e.preventDefault();
        var result = confirm("Return to main menu. Any unsubmitted annotations will be lost.");
        if (result == true){
            window.location.href = "{% url 'index' %}";
        }
    });
    $("button[id$='expand']").click(function(e){
        e.preventDefault();
        var sentence_id = e.target.id.split("-")[0];
        var ebox_id = sentence_id + "-ebox";
        var expand_div_id = sentence_id + "-expand_div";
        var options_id = sentence_id + "-options";
        $.ajax({
            type : 'POST',
            url :  "{% url 'get_sentence_hyperlinks' %}",
            data : {
            "sentence_id": sentence_id,
            "edit": $("#edit").val(),
            "user_id": $("#user_id").val(),
            "claim_id": $('#id_claim_id').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success : function(response){
                if (selected_sentence_id != -1){
                    deselect_sentence(selected_sentence_id);
                }
                selected_sentence_id = sentence_id;
                $("#custom_modal").prop('disabled', false);
                $("#add_main").prop('disabled', false);
                $("div[id="+expand_div_id+"]").prop('hidden', true);
                $("div[id="+options_id+"]").prop('hidden', false);
                if ($("#edit").val() != "True")
                    $("div[id="+ebox_id+"]").css('background-color', '#C5C9F9');
                if (response.hyperlinks.length > 0){
                    $('#quick_links').html("");
                    $('#evidence_sentences').html("");
                    for (var i = 0; i < response.hyperlinks.length; i++) {
                      $('#quick_links').append('<div class="ebox" style="direction:rtl; background-color:'+
                      response.hyperlinks[i].background_color+';"><h4>'+response.hyperlinks[i].title+
                      '</h4><div><label style="display:inline-block; font-weight:normal;"><input value="'+
                      response.hyperlinks[i].id+'" id="'+response.hyperlinks[i].id+'-hyperlink_checkbox"'+
                      'name="hyperlink_checkboxes" type="checkbox"style="width:20px;"/>'
                      +response.hyperlinks[i].first_paragraph+'</label></div></div>');
                    }
                    if ($("#edit").val() == "True"){
                        for (var i = 0; i < response.sentences.length; i++) {
                        $('#evidence_sentences').append('<div class="ebox" style="direction:rtl; background-color:'+
                        response.sentences[i].background_color+';"><h4>'+
                        response.sentences[i].page__title+
                        '</h4><div><label style="display:inline-block; font-weight:normal;"><input value="'+
                        response.sentences[i].id+'" id="'+response.sentences[i].id+'-sentence_checkbox"'+
                        'name="sentence_checkboxes" type="checkbox"style="width:20px;"/>'
                        +response.sentences[i].sentence_content+'</label></div></div>');
                        }
                    }
                }
                else{
                    $('#quick_links').html("No related dictionary!");
                }
            },
            error : function(response){
                console.log(response)
            }
        });
    });
    $("button[id$='cancel']").click(function(e){
        e.preventDefault();
        var sentence_id = e.target.id.split("-")[0];
        selected_sentence_id = -1;
        $("#custom_modal").prop('disabled', true);
        $("#add_main").prop('disabled', true);
        $('#quick_links').html("");
        $('#evidence_sentences').html("");
        deselect_sentence(sentence_id);
    });
    deselect_sentence = function(sentence_id){
        var ebox_id = sentence_id + "-ebox";
        var expand_div_id = sentence_id + "-expand_div";
        var options_id = sentence_id + "-options";
        $("div[id="+expand_div_id+"]").prop('hidden', false);
        $("div[id="+options_id+"]").prop('hidden', true);
        console.log($("#edit").val());
        if ($("#edit").val() != "True")
            $("div[id="+ebox_id+"]").css('background-color', '#eeeeee');
    };
    $("#add_custom").click(function(e){
        add_evidence(e, $('#custom_page_token').val());
    });
    $("#add_main").click(function(e){
        add_evidence(e, $('#page_token').val());
    });
    add_evidence = function(e, page_token){
        $('#adding').prop('hidden', false);
        $("#custom_modal").prop('disabled', true);
        $("#add_main").prop('disabled', true);
        $.ajax({
            type : 'POST',
            url :  "{% url 'add_evidence' %}",
            data : {
            "page_token": page_token,
            "selected_sentence_id": selected_sentence_id,
            "claim_id": $('#id_claim_id').val(),
            "edit": $("#edit").val(),
            "user_id": $("#user_id").val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success : function(response){
                if (response.is_valid){
                    for (var i = 0; i < response.hyperlinks.length; i++) {
                        $('#quick_links').append('<div class="ebox" style="direction:rtl;"><h4>'+response.hyperlinks[i].title+
                        '</h4><div><label style="display:inline-block; font-weight:normal;"><input value="'+
                        response.hyperlinks[i].id+'" id="'+response.hyperlinks[i].id+'-hyperlink_checkbox"'+
                        'name="hyperlink_checkboxes" type="checkbox"style="width:20px;"/>'
                        +response.hyperlinks[i].first_paragraph+'</label></div></div>');
                    }
                    for (var i = 0; i < response.sentences.length; i++) {
                        $('#evidence_sentences').append('<div class="ebox" style="direction:rtl;"><h4>'+
                        response.sentences[i].page__title+
                        '</h4><div><label style="display:inline-block; font-weight:normal;"><input value="'+
                        response.sentences[i].id+'" id="'+response.sentences[i].id+'-sentence_checkbox"'+
                        'name="sentence_checkboxes" type="checkbox"style="width:20px;"/>'
                        +response.sentences[i].sentence_content+'</label></div></div>');
                    }
                }
                else{
                    alert(response.message);
                }
                $('#adding').prop('hidden', true);
                $("#custom_modal").prop('disabled', false);
                $("#add_main").prop('disabled', false);
            },
            error : function(response){
                console.log(response)
                $('#adding').prop('hidden', true);
                $("#custom_modal").prop('disabled', false);
                $("#add_main").prop('disabled', false);
            }
        });
    };
    $("button[id^='skip']").click(function(e){
        e.preventDefault();
        var state = e.target.id.split("-")[1];
        var result = true;
        if ($("#edit").val() == "True"){
            result = confirm("Are you sure you want to skip?");
        }
        if (result){
            $.ajax({
                type : 'POST',
                url :  "{% url 'update_claim_state' %}",
                data : {
                "claim_id": $('#id_claim_id').val(),
                "state": state,
                "edit": $("#edit").val(),
                "user_id": $("#user_id").val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success : function(response){
                    if ($("#edit").val() == "True"){
                        var link = "{% url 'review-wf2' %}";
                    }
                    else{
                        var link = "{% url 'wf2' %}";
                    }
                    window.location.href = link;
                },
                error : function(response){
                    console.log(response)
                }
            });
        }
    });
    annotate = function(e, sentence_id, label){
        var result = true;
        if ($("#edit").val() == "True"){
            result = confirm("Are you sure you want to edit?");
        }
        if (result){
            var ebox_id = sentence_id + "-ebox";
            var hyperlinks_id = [];
            $.each($("input[name='hyperlink_checkboxes']:checked"), function(){
                hyperlinks_id.push($(this).val());
            });
            var sentences_id = [];
            $.each($("input[name='sentence_checkboxes']:checked"), function(){
                sentences_id.push($(this).val());
            });
            $.ajax({
                type : 'POST',
                url :  "{% url 'annotate' %}",
                data : {
                "claim_id": $('#id_claim_id').val(),
                "sentence_id": sentence_id,
                "label": label,
                "hyperlinks_id": hyperlinks_id,
                "sentences_id": sentences_id,
                "edit": $("#edit").val(),
                "user_id": $("#user_id").val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success : function(response){
                    if (response.is_valid){
                        selected_sentence_id = -1;
                        $("#custom_modal").prop('disabled', true);
                        $("#add_main").prop('disabled', true);
                        $('#quick_links').html("");
                        $('#evidence_sentences').html("");
                        $("div[id="+ebox_id+"]").remove();
                        if ($("#edit").val() == "True"){
                            $("#skip-info").prop('hidden', true);
                        }
                    }
                    else{
                        alert(response.message);
                    }
                },
                error : function(response){
                    console.log(response)
                }
            });
        }
    };
    _delete = function(e, sentence_id){
        var result = true;
        if ($("#edit").val() == "True"){
            result = confirm("Are you sure you want to delete?");
        }
        if (result){
            var ebox_id = sentence_id + "-ebox";
            $.ajax({
                type : 'POST',
                url :  "{% url 'delete_label' %}",
                data : {
                "claim_id": $('#id_claim_id').val(),
                "sentence_id": sentence_id,
                "edit": $("#edit").val(),
                "user_id": $("#user_id").val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success : function(response){
                    if (response.is_valid){
                        $("div[id="+ebox_id+"]").css('background-color', '#eeeeee');
                        selected_sentence_id = -1;
                        $("#custom_modal").prop('disabled', true);
                        $("#add_main").prop('disabled', true);
                        $('#quick_links').html("");
                        $('#evidence_sentences').html("");
                        deselect_sentence(sentence_id);
                    }
                    else{
                        alert(response.message);
                    }
                },
                error : function(response){
                    console.log(response)
                }
            });
        }
    };
    $("button[id^='submit']").click(function(e){
        e.preventDefault();
        var result = true;
        if ($("#edit").val() == "True"){
            result = confirm("Are you sure you want to submit?");
        }
        if (result){
            var flag = e.target.id.split("-")[1];
            $.ajax({
                type : 'POST',
                url :  "{% url 'submit_wf2' %}",
                data : {
                "claim_id": $('#id_claim_id').val(),
                "flag": flag,
                "edit": $("#edit").val(),
                "user_id": $("#user_id").val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success : function(response){
                    if (response.is_valid){
                        if ($("#edit").val() == "True"){
                            var link = "{% url 'review-wf2' %}";
                        }
                        else{
                            var link = "{% url 'wf2' %}";
                        }
                        window.location.href = link;
                    }
                    else{
                        alert(response.message);
                    }
                },
                error : function(response){
                    console.log(response)
                }
            });
        }
    });
    $("#done").click(function(e) {
        e.preventDefault();
        var link = "{% url 'review-wf2' %}";
        window.location.href = link;
    });
    $("#edit-claim").click(function(e){
        var result = true;
        if ($("#edit").val() == "True"){
            result = confirm("Are you sure you want to edit?");
        }
        if (result){
            $.ajax({
                type : 'POST',
                url :  "{% url 'edit_claim' %}",
                data : {
                "claim_id": $('#id_claim_id').val(),
                "edit": $("#edit").val(),
                "claim_content": $("#claim").val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success : function(response){
                    alert(response.message);
                },
                error : function(response){
                    console.log(response)
                }
            });
        }
    });
</script>
{% endblock %}
{% block main %}
<div style="position:absolute; left:0; right:0; top:50px; height:200px; background:white; padding-top:0 !important; padding-bottom:10px !important; border-bottom:1px solid #555;">
    {% csrf_token %}
    <input type="hidden" id="edit" name="edit" value="{{edit}}">
    <input type="hidden" id="user_id" value="{{user_id}}">
    <input type="hidden" id="page_token" value="{{claim.page.token}}">
    {{ form.claim_id }}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Claim Labelling Task (WF2)</h1>
    </div>
    <div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="callout left">
                <h4>
                    Claim
                    {% if edit and skipped %}
                    <span id="skip-info" style="color:red;">(Skipped: {{skip_reason}})</span>
                    {% endif %}
                </h4>
            </div>
        </div>
        {% if edit %}
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <div class="form-group">
                <input style="direction:rtl; margin-top:6px;" type="text"
                       class="form-control" id="claim" value="{{claim.claim_content}}">
              </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <div class="form-group">
                <button style="margin-top:6px;" type="button"
                        class="btn btn-success" id="edit-claim">Edit Claim</button>
              </div>
        </div>
        {% else %}
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="ebox" style="direction:rtl;">
                <h4>{{claim.claim_content}}</h4>
            </div>
        </div>
        {% endif %}

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div style="margin-top:20px;">
                <div style="float:right">
                    {% if not disable_elements %}
                    <button id="submit-1" class="btn btn-warning"><span class="glyphicon glyphicon-flag"></span> Submit and flag</button>
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#skipModal">
                      Skip (Opens Menu)
                    </button>
                    {% endif %}
                    <button type="button" class="btn btn-light" id="home">
                      Home
                    </button>
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#guidelinesModal">
                      Guidelines
                    </button>
                </div>
                {% if not disable_elements %}
                <button id="submit-0" style="float:left margin-left:5px;" class="btn btn-primary">Submit</button>
                {% endif %}
                {% if edit %}
                <button id="done" type="submit" class="btn btn-primary">Done (without submit)</button>
                {% endif %}
           </div>
        </div>
    </div>
</div>


<div style="bottom:0; top:250px; position:absolute;">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="height:100%; overflow-y:scroll;">
        <h3>Wikipedia article for {{claim.page.title}}</h3>
        {% for sentence in sentences %}
        <div id="{{sentence.id}}-ebox" class="ebox" style="background-color: {{sentence.background_color}};
         margin-top:20px; margin-bottom:20px; direction:rtl">
            <div style="display:table-cell; width:100%">
                {{ sentence.sentence_content }}
            </div>

            <div id="{{sentence.id}}-expand_div">
                <button id="{{sentence.id}}-expand" class="btn btn-default btn-xs">Expand</button>
            </div>
            <div id="{{sentence.id}}-options" hidden>
                {% if not disable_elements %}
                <button id="{{sentence.id}}-supports" onclick="annotate(this, {{sentence.id}}, 0);" class="btn btn-success btn-xs">Supports</button>
                <button id="{{sentence.id}}-refutes" onclick="annotate(this, {{sentence.id}}, 1);" class="btn btn-danger btn-xs">Refutes</button>
                {% if edit %}
                <button id="{{sentence.id}}-delete" onclick="_delete(this, {{sentence.id}});" class="btn btn-info btn-xs">Delete</button>
                {% endif %}
                {% endif %}
                <button id="{{sentence.id}}-cancel" class="btn btn-default btn-xs">Cancel</button>
            </div>
        </div>
        {% endfor %}
    </div>


    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"  style="height:100%; overflow-y:scroll;">
        {% if not disable_elements %}
        <h3>Dictionary</h3>
        <div class="row ebox">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p>Add a custom page from Wikipedia if essential information is missing from the dictionary. E.g. the claim mentions an entity that does not appear in the Wikipedia page for {{claim.page.title}}</p>
                <button id="custom_modal" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#addCustomModal" disabled>Add Custom Page</button>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                <p>If you need to combine multiple sentences from the original page ({{claim.page.title}}), this will add it to the dictionary so that it can form part of the supporting evidence. </p>
                <button id="add_main" class="btn btn-xs btn-primary" disabled>Add Main Wikipedia Page<br/>({{claim.page.title}})</button>
            </div>
            <div id="adding" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" hidden>
                <h4 style="color: #ff0000;">Adding...This can take a few moments...</h4>
            </div>
        </div>
        {% endif %}

        <h4>Quick Links</h4>
        <div id="quick_links">
        </div>
        <div id="evidence_sentences">
        </div>
    </div>
</div>

<div class="modal fade" id="addCustomModal" tabindex="-1" role="dialog" aria-labelledby="addCustomModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCustomModalLabel">Add Another Page</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Add a Wikipedia Page to Dictionary</h3>
        <p>Search for a relevant page from Wikipedia (using <a href="http://google.com" target="_blank">Google</a> or <a href="https://en.wikipedia.org" target="_blank">Wikipedia</a>) and paste the page token in the box below</p>
        <input id="custom_page_token" placeholder="e.g. Reality_television" name="add_custom" style="width:100%;margin-bottom:10px;display:block"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="add_custom" type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="skipModal" role="dialog" aria-labelledby="skipModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="skipModalLabel">
            Select reason for skipping
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </h3>
      </div>
      <div class="modal-body">
        <p>
            <button id="skip-1" class="btn">Not enough information</button><br />
            Select if the document (or dictionary items) contains no information that can be used to support or refute this claim. <br />This claim will not be reassigned.
        </p>
        <hr />
        <p>
            <button id="skip-2" class="btn">I don't want to annotate this example</button><br />
            This will reassign this claim to another DA to annotate.
        </p>
        <hr />
        <p>
            <button id="skip-3" class="btn btn-warning"><span class="glyphicon glyphicon-flag"></span> The claim is ambiguous, nonsense or is not possible to check</button><br />
            The claim will be checked to see if it meets the WF1 guidelines.
        </p>
        <hr />
        <p>
            <button id="skip-4" class="btn btn-warning"><span class="glyphicon glyphicon-flag"></span> The claim has a typo or simple error</button><br />
            The claim will be checked and corrected.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="guidelinesModal" role="dialog" aria-labelledby="guidelinesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="guidelinesModalLabel">
            Guidelines
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </h3>
      </div>
      <div class="modal-body">
        <p>The purpose of this task is to identify evidence from a Wikipedia page that can be used to support or refute simple factoid sentences called claims. The claims are generated by humans (as part of the WF1 annotation workflow) from the Wikipedia page about {{entity}}. Some claims are true. Some claims are fake. You must find the evidence from the page that supports or refutes the claim.</p>

        <p>Other Wikipedia pages will also provide additional information that can serves as evidence. For each line, we will provide extracts from the linked pages in the dictionary column which appear when you "Expand" the sentence. The sentences from these linked pages that contain relevant supplimentary information should be individually selected to record which information is used in justifying your decisions.</p>



        <h4 class="topmargin">Step-by-step guide:</h4>

        <ol class="gul">
            <li>Read and understand the claim</li>
            <li>Read the Wikipedia page and identify sentences that contain relevant information.</li>
            <li>On identifying a relevant sentence, press the <strong>Expand</strong> button to highlight it. This will load the dictionary and the buttons to annotate it:
                <ul>
                    <li>If the highlighted sentence contains enough information in a definitive statement to support or refute the claim, press the Supports or Refutes button to add your annotation. No information from the dictionary is needed in this case (this includes information from the main Wikipedia page). Then continue annotating from step 2.</li>
                    <li>If the highlighted sentence contains some information supporting or refuting the claim but also needs supporting information, this can be added from the dictionary.
                        <ol>
                            <li>The hyperlinked sentences from the passage are automatically added to the dictionary</li>
                            <li>If a sentence from the main Wikipedia article is needed to provide supporting information. Click “Add Main Wikipedia Page” to add it to the dictionary.<br/>
                                <strong>NB:</strong> if multiple sentences from the main Wikipedia page are selected, you don’t have to repeat the annotation for all the sentences as this will result in duplicates. Attempting to do so will result will result in this warning (that can be dismissed if new information will be added):<br />
                                <code>This sentence has already been selected as part of another annotation that uses the original page. Unless you intend to add new information, continuing will result in a duplicate annotation.</code></li>
                            <li>If the claim or sentence contains an entity that is not in the dictionary, then a custom page can be added by clicking “Add Custom Page”. Use a search engine of your choice to find the page and then paste the Wikipedia URL into the box.</li>

                            <li>Tick the sentences from the dictionary <strong>that provide the minimal amount of supporting information needed to form your decision</strong>. If there are multiple equally relevant entries (such as a list of movies), then just select the first.</li>
                        </ol>
                    </li>
                    <li>Once all required information is added, then press the Supports or Refutes button to add your annotation and continue from step 2.</li>

                    <li>If the highlighted sentence and the dictionary do not contain enough information to support or refute the claim, press the Cancel button and continue from step 2 to identify more relevant sentences.</li>

                </ul>
            </li>
            <li>On reaching the end of the Wikipedia page. Press <strong>Submit</strong> if you could find information that supports or refutes the claim. If you could not find any supporting evidence, press <strong>Skip</strong> then select <strong>Not enough information</strong></li>
        </ol>

        <h4 class="topmargin">What does it mean to Support or Refute</h4>
        <p>The objective is to find sentences that support or refute the claim.</p>
        <p>You must apply <strong>common-sense</strong> reasoning to the evidence you read but <em>avoid applying your own world-knowledge</em> by basing your decisions on the information presented in the Wikipedia page and dictionary.</p>

        <p>As a guide - you should ask yourself:</p>

        <div class="ebox"><em>If I was given only the selected sentences, do I have stronger reason to believe claim is true (supported) or stronger reason to believe the claim is false (refuted). If I'm not certain, what additional information (dictionary) do I have to add to reach this conclusion.</em></div>


        <p>The following count as valid justifications for marking an item as supported/refuted:</p>
        <ul>
            <li>Sentence directly states information that supports/refutes the claim or states information that is synonymous/antonymous with information in the claim<br />
                <div class="ebox">
                    <strong>Claim:</strong> Water occurs artificially<br/>
                    <strong>Refuted by:</strong> ``It also occurs in nature as snow, glaciers ...''
                </div>
                <div class="ebox">
                    <strong>Claim:</strong> Samuel L. Jackson was in the third movie in the Die Hard film series.<br/>
                    <strong>Supported by:</strong> ``He is a highly prolific actor, having appeared in over 100 films, including Die Hard 3.''
                </div>
            </li>

            <li>Sentence refutes the claim through negation or quantification<br />
                <div class="ebox">
                    <strong>Claim:</strong> Schindler's List received no awards.<br/>
                    <strong>Refuted by:</strong> ``It was the recipient of seven Academy Awards (out of twelve nominations), including Best Picture, Best Director...''
                </div>
            </li>

            <li>Sentence provides information about a different entity and only one entity is permitted (e.g. place of birth can only be one place)
                <div class="ebox">
                    <strong>Claim:</strong> David Schwimmer finished acting in Friends in 2005.<br/>
                    <strong>Refuted by:</strong> ``After the series finale of Friends in 2004, Schwimmer was cast as the title character in the 2005 drama Duane Hopwood.''
                </div>
            </li>

            <li>Sentence provides information that, in conjunction with other sentences from the dictionary, fulfils one of the above criteria
                <div class="ebox">
                    <strong>Claim:</strong> John McCain is a conservative.<br/>
                    <strong>Refuted by:</strong> ``He was the Republican nominee for the 2008 U.S. presidential election.'' <strong>AND</strong> ``The Republican Party's current ideology is American conservatism, which contrasts with the Democrats' more progressive platform (also called modern liberalism).''
                </div>
            </li>
        </ul>

        <h4 class="topmargin">Adding Custom Pages</h4>
        <p>You may need to add a custom page from Wikipedia to the dictionary. This may happen in cases where the claim discusses an entity that was not in the original Wikipedia page</p>
        <div class="ebox">
            <strong>Claim:</strong> Colin Firth is a Gemini.<br/>
            <strong>In Original Page:</strong> ``Colin Firth (born 10 September 1960)...  ''<br />
            <strong>Requires Additional Information from Gemini:</strong> ``Under the tropical zodiac, the sun transits this sign between May 21 and June 21.''
        </div>



        <h4 class="topmargin">Tense</h4>
        <p>The difference in verb tenses that do not affect the meaning should be ignored.</p>

        <div class="ebox">
            <strong>Claim: </strong> Frank Sinatra is a musician<br/>
            <strong>Supported: </strong> He is one of the best-selling music artists of all time, having sold more than 150 million records worldwide.
        </div>

        <div class="ebox">
            <strong>Claim: </strong> Frank Sinatra is a musician <br/>
            <strong>Supported: </strong> Francis Albert Sinatra (/sɪˈnɑːtrə/; Italian: [siˈnaːtra]; December 12, 1915 – May 14, 1998) was an American singer
        </div>


        <h4 class="topmargin">Skipping</h4>
        <p>There may be times where it is appropriate to skip the claim:</p>

        <ul>
            <li>The claim cannot be verified using the information with the information provided:
                <ul>
                    <li>If the claim could potentially be verified using other publicly available information. Select <strong>Not Enough Information</strong></li>
                    <li>If the claim can't be verified using any publicly available information (because it's ambiguous, vague, personal or implausible) select <strong>The claim is ambiguous or contains personal information</strong>
                        <br/> <strong>NB:</strong>Note that claim can be ambiguous even if the exact sentence can be found in Wikipedia (e.g. "The album achieved widespread popularity in America").
                    </li>
                </ul>
            </li>
            <li>The claim contains typographical errors, spelling mistakes, is ungrammatical or could be fixed with a very minor change<br/>
                Select <strong>The claim has a typo or grammatical error</strong>
            </li>
        </ul>

        <h4 class="topmargin">Flagging</h4>
        <p>You can submit the claim but flag it for further discussion. This could be because:</p>
        <ul>
            <li>The claim might contain potentially brand-damaging information (but remember that mutated claims are never going to be presented to customers as facts)</li>
            <li>The claim fall between two slightly conflicting guidelines</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="endModal" tabindex="-1" role="dialog" aria-labelledby="endModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="endModalLabel">No more annotation tasks!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 style="text-align: center; color: white">Congratulations on completing <strong>FEVER</strong>!</h3>
        <p style="text-align: center; color: white">
            <br/>
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Fuochi_d%27artificio.gif"/>
        </p>
      </div>
      <div class="modal-footer">
        <button onclick="location.href={% url 'index' %}" type="submit" class="btn btn-primary" >Return Home</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}