{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="container">
    <h1>FEVER Claim Generation and Annotation Tool</h1>

    <h3>WF1: Claim Generation</h3>
    <p>The objective of this task is to generate a mixture of true claims and false claims from a source sentence extracted from Wikipedia.</p>
    <p>In the sandbox mode. Annotations will be saved, but will not form part of the final data set. When done, just close the window 👏 </p>
    <div class="navigation_actions">
        <button onclick="location.href='/wf1/tutorial'" type="submit" class="btn" >Tutorial</button>
        <button onclick="location.href='/wf1/review'" type="submit" class="btn btn-warning" >Enter Review Mode</button>
        <button onclick="location.href='/wf1/wf1a'" type="submit" class="btn btn-primary" >Enter Live Mode</button>
    </div>

    <hr />
    <h3>WF2: Claim Labelling</h3>

    <p>The purpose of this task is to identify evidence from a Wikipedia page that can be used to support or refute simple factoid sentences called claims.</p>
    <p>In the sandbox mode. Annotations will be saved, but will not form part of the final data set.</p>
    <div class="navigation_actions">
        {% if user.is_superuser %}
        <button onclick="location.href='/wf2/check_sentences'" type="submit" class="btn" >
            Check Sentences
        </button>
        {% endif %}
        <button onclick="location.href='/wf2/review'" type="submit" class="btn btn-warning" >Enter Review Mode</button>
        <button onclick="location.href={% url 'wf2' %}" type="submit" class="btn btn-primary" >Enter Live Mode</button>
    </div>

</div>
{% endblock %}