{% extends  'base.html' %}
{% load crispy_forms_tags %}
{% block javascript %}
<script>
    $("#update").click(function(e) {
         e.preventDefault();
         $.ajax({
            type : 'POST',
            url :  "{% url 'statistics_update' %}",
            data : {
            "start": $("#start_text").val(),
            "end": $("#end_text").val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success : function(response){
                $('#statistics tbody').html("");
                for (var i = 0; i < response.rows.length; i++) {
                  $('#statistics').append('<tr><td>'+response.rows[i].first_name+'</td><td>'+
                  response.rows[i].last_name+'</td><td>'+response.rows[i].pages_count+
                  '</td><td>'+response.rows[i].main_claims_count+'</td><td>'+
                  response.rows[i].mutations_count+'</td><td>'+response.rows[i].label_count+'</td><td>'
                  +response.rows[i].annotation_count+'</td><td>'+response.rows[i].wf1_total_count+
                  '</td><td>'+response.rows[i].wf2_total_count+'</td><td class="info"><b>'+
                  response.rows[i].total_count+'</b></td></tr>');
                }
                $('#statistics').append('<tr><td colspan="2" style="text-align:center;" class="info"><b>Total</b></td>'+
                    '<td class="info"><b>'+response.total_pages_count+'</b></td><td class="info"><b>'+
                    response.total_main_claims_count+'</b></td><td class="info"><b>'+response.total_mutations_count+
                    '</b></td><td class="info"><b>'+response.total_label_count+'</b></td><td class="info"><b>'+
                    response.total_annotation_count+'</b></td><td class="info"><b>'+response.total_wf1_count+
                    '</b></td><td class="info"><b>'+response.total_wf2_count+'</b></td><td class="info"><b>'
                    +response.total_count+'</b></td></tr>');
            },
            error : function(response){
                console.log(response)
            }
        });
    });
    $('#start').datetimepicker({
        format : "DD/MM/YYYY",
    });
    $('#end').datetimepicker({
        useCurrent: false, //Important! See issue #1075
        format : "DD/MM/YYYY"
    });
    $("#start").on("dp.change", function (e) {
        $('#end').data("DateTimePicker").minDate(e.date);
        if($("#end_text").val() != ""){
            $("#update").prop('disabled', false);
        }
    });
    $("#end").on("dp.change", function (e) {
        console.log($("#start_text").val());
        $('#start').data("DateTimePicker").maxDate(e.date);
        if($("#start_text").val() != ""){
            $("#update").prop('disabled', false);
        }
    });
</script>
{% endblock %}
{% block main %}
<div><br></div>
<div class="container">
    {% csrf_token %}
    <table id="statistics" class="table table-hover">
        <thead>
            <tr>
                {% for k in header %}
                <th class="bg-primary">{{k}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for r in rows %}
                <tr>
                    <td>{{r.first_name}}</td>
                    <td>{{r.last_name}}</td>
                    <td>{{r.pages_count}}</td>
                    <td>{{r.main_claims_count}}</td>
                    <td>{{r.mutations_count}}</td>
                    <td>{{r.label_count}}</td>
                    <td>{{r.annotation_count}}</td>
                    <td>{{r.wf1_total_count}}</td>
                    <td>{{r.wf2_total_count}}</td>
                    <td class="info"><b>{{r.total_count}}</b></td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="2" style="text-align:center;" class="info"><b>Total</b></td>
                    <td class="info"><b>{{total_pages_count}}</b></td>
                    <td class="info"><b>{{total_main_claims_count}}</b></td>
                    <td class="info"><b>{{total_mutations_count}}</b></td>
                    <td class="info"><b>{{total_label_count}}</b></td>
                    <td class="info"><b>{{total_annotation_count}}</b></td>
                    <td class="info"><b>{{total_wf1_count}}</b></td>
                    <td class="info"><b>{{total_wf2_count}}</b></td>
                    <td class="info"><b>{{total_count}}</b></td>
                </tr>
        </tbody>
    </table>

    <div class="row">
    <div class="center">
        <div class="col-xs-12 col-sm-4">
          <div class="form-group">
            <div class='input-group date' id='start'>
              <input type='text' id="start_text" class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="form-group">
            <div class='input-group date' id='end'>
              <input type='text' id="end_text" class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
    <button id="update" type="submit" class="btn btn-primary" disabled>Update</button>
    </div>
    </div>
</div>
{% endblock %}